body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.head h1 {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgb(21, 190, 125);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#events, #registrations, #discussions {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h2 {
    color: rgb(21, 190, 125);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.create-admin-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
    text-align: center; /* Center align the text within the form */
}

.create-admin-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left; /* Align label text to left */
}

.create-admin-form input {
    width: calc(100% - 20px); /* Adjust input width */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-admin-form button {
    width: 100%; /* Make button full width */
    padding: 10px 20px;
    background-color: rgb(21, 190, 125);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-admin-form .close-btn {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit; /* Inherit the color of the text */
    outline: none;
}

.create-admin-form .close-btn:hover {
    color: #555; /* Change color on hover if needed */
}

.admin-home-btn{
    position: absolute;
    top: 10px;
    left: 10px; /* Adjust this value to move the button to the right */
    background-color: rgb(21, 190, 125);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-home-btn:hover{
    background-color:#0056b3 ;
}