<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../CSS/login.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<script>
    if (localStorage.getItem("user-token")){
        window.location.href = "/home"
    }
    if (localStorage.getItem("admin-token")){
        window.location.href = "/admin"
    }
</script>
<body>
    <div class="container">
<center>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/ghhwiltn.json"
        trigger="loop"
        delay="1000"
        style="width:150px;height:150px">
    </lord-icon>
</center>
        <i><h2>Signup</h2></i>
        <div className="form-div">
            <div class="form-group">
                <label for="name"><i>Name</i></label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="username"><i>Username</i></label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email"><i>Email</i></label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password"><i>Password</i></label>
                <input type="password" id="password" name="password" required>
            </div>
            <button onclick="signup()"><i>Signup</i></button>
            <p><i>Already have an account?</i></p> <button onclick="window.location.href='/'">Login</button>
        </div>
    </div>
</body>
<script>
    async function signup(){
        const name = document.getElementById('name').value;
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const response = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify({ name, username, email, password })
        })
        const json = await response.json();
        if (json.success){
            localStorage.setItem("user-token", json.token)
            window.location.href = "/home";
        }else{
            window.alert(json.message)
        }
    }
</script>
</html>
